.item {
	background-color: #d4e1ff;
	border: 1px solid green;	
}

/* This is our Flex container - children are flex items */
.container {
	display: flex;
	height: 90vh; 
	align-items: flex-end;		
}

.item {
	width: 200px;
}

.item1 {	
	align-self: auto;				/* Default: Inherits alignment of 'align-items' property */
	align-self: flex-start;			/* This aligns item 1 to the start of the Cross Axis */
	align-self: flex-end;	     	/* This aligns item 1 to the end of the Cross Axis */
	align-self: center;				/* This aligns item 1 to the center of the Cross Axis */
	align-self: stretch;			/* This makes item 1 stretch across the Cross Axis */
}

/*
Notes

Comment out all align-self properties and uncomment one by one to see the result.

*/