.item {
	background-color: #d4e1ff;
	border: 1px solid green;	
}

/* This is our Flex container - children are flex items */
.container {
	display: flex;
	height: 90vh; 
	flex-direction: row;  	
	flex-wrap: nowrap;  			/* Default: items do not wrap onto other rows. They just flex in size. */
	flex-wrap: wrap;				/* Items keep their width and wrap onto a new row. Heights adjust accordingly */
	flex-wrap: wrap-reverse;		/* Items keep their width and wrap onto a new row but in reverse order */
	flex-flow: column wrap;			/* Combines flex-direction and flex-wrap into one line */   
}

.item {
	width: 150px;
}

/*
Notes
Comment out all flex-wrap and flex-flow properties and uncomment one-by-one to see the effect.
Use Firefox Developer Tools > Inspector > Flex Container to view applied properties.
*/