.container {
    display: grid;
    grid-row-gap: 20px;
    margin: 20px;
    border: 2px solid black;
    justify-items: center;
    

}


.item {
    background-color: beige;
    border: 2px solid red;
    width: 100px;
    height: 100px;

}