.item {
	background-color: #d4e1ff;
	border: 1px solid green;	
}

/* This is our Flex container - children are flex items */
.container {
	display: flex;
	height: 90vh; 
	flex-direction: row;  			    /* Default - horizontal Main Axis, reading left to right */
	flex-direction: row-reverse;        /* Horizontal Main Axis, reading right to left */
	flex-direction: column;  			/* Vertical Main Axis, reading top to bottom */
	flex-direction: column-reverse;  	/* Vertical Main Axis, reading bottom to top */
}

/*
Notes
Comment out all flex-direction properties and uncomment one-by-one to see the effect.

Use Firefox Developer Tools > Inspector > Flex Container to view applied properties. Note that you have to select the flex container (in this case <section>) in the code inspector on the left hand side of the developer tool window.
*/