.item {
	background-color: #d4e1ff;
	border: 1px solid green;	
}

/* This is our Flex container - children are flex items */
.container {
	display: flex;
	height: 90vh; 		
}

.item {
	flex-basis: 150px; 	/* All items with have a 150px width if Main Axis is horizontal, or height if vertical */
}

/* Here container width (minus space needed for other content) is distributed to item 1 and 3. Yet 3 is given twice as much of the remaining space as item 1. */

.item1 {
	flex-grow: 1;  
}

.item3 {
	flex-grow: 2;
	flex-shrink: 2;	   /* Item 3 will shrink twice as much as other items (default is 1) */
}

.item5 {
	flex-shrink: 5;    /* Item 5 will shrink five times as much as other items */
}
